-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: barangay_db
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `activity_log`
--

DROP TABLE IF EXISTS `activity_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `activity_log` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `admin_id` int(11) DEFAULT NULL,
  `resident_id` int(11) DEFAULT NULL,
  `action_type` varchar(50) NOT NULL,
  `table_name` varchar(50) NOT NULL,
  `record_id` int(11) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `admin_id` (`admin_id`),
  KEY `idx_resident_id` (`resident_id`),
  CONSTRAINT `activity_log_ibfk_1` FOREIGN KEY (`admin_id`) REFERENCES `admins` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activity_log`
--

LOCK TABLES `activity_log` WRITE;
/*!40000 ALTER TABLE `activity_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `activity_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admins`
--

DROP TABLE IF EXISTS `admins`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admins` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `full_name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `phone` varchar(50) DEFAULT NULL,
  `messenger` varchar(255) DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('super_admin','regular_admin') DEFAULT 'regular_admin',
  `status` enum('pending','active','inactive') DEFAULT 'pending',
  `notes` text DEFAULT NULL,
  `approved_by` int(11) DEFAULT NULL,
  `approved_at` timestamp NULL DEFAULT NULL,
  `last_login` timestamp NULL DEFAULT NULL,
  `force_password_reset` tinyint(1) DEFAULT 0,
  `two_factor_enabled` tinyint(1) DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `photo` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admins`
--

LOCK TABLES `admins` WRITE;
/*!40000 ALTER TABLE `admins` DISABLE KEYS */;
/*!40000 ALTER TABLE `admins` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `barangay_workers`
--

DROP TABLE IF EXISTS `barangay_workers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `barangay_workers` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `position` varchar(100) NOT NULL,
  `mobile` varchar(50) DEFAULT NULL,
  `email` varchar(255) DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  `messenger` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `idx_email_unique` (`email`),
  KEY `created_by` (`created_by`),
  KEY `idx_position` (`position`),
  KEY `idx_created_at` (`created_at`),
  CONSTRAINT `barangay_workers_ibfk_1` FOREIGN KEY (`created_by`) REFERENCES `admins` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `barangay_workers`
--

LOCK TABLES `barangay_workers` WRITE;
/*!40000 ALTER TABLE `barangay_workers` DISABLE KEYS */;
INSERT INTO `barangay_workers` VALUES (2,'Test Worker','Barangay Tanod','09123456789','worker@test.com','$2y$10$KRIPYhaiUp9APFkEQMwS8OmP2UOaa6/01o5qssNv33owNG9kohZBy','test_worker','2025-12-02 14:08:19','2025-12-02 14:14:32',NULL),(3,'Marian Villacruz','Administrative Aide','09124567291','rianv@test.com','$2y$10$3L6jIAs9buspd0U0nhtBzOhDZyAuYoYyAu.qmnjBN8mBwK4rMxiIK','Marian Villacruz','2025-12-02 14:12:17','2025-12-02 14:12:17',NULL);
/*!40000 ALTER TABLE `barangay_workers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contact_messages`
--

DROP TABLE IF EXISTS `contact_messages`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `contact_messages` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `resident_id` int(11) DEFAULT NULL,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `subject` varchar(255) DEFAULT NULL,
  `message` text NOT NULL,
  `status` enum('Unread','Read','Replied','Archived') DEFAULT 'Unread',
  `replied_by` int(11) DEFAULT NULL,
  `replied_at` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `resident_id` (`resident_id`),
  KEY `replied_by` (`replied_by`),
  KEY `idx_status` (`status`),
  KEY `idx_created_at` (`created_at`),
  CONSTRAINT `contact_messages_ibfk_1` FOREIGN KEY (`resident_id`) REFERENCES `residents` (`id`) ON DELETE SET NULL,
  CONSTRAINT `contact_messages_ibfk_2` FOREIGN KEY (`replied_by`) REFERENCES `admins` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contact_messages`
--

LOCK TABLES `contact_messages` WRITE;
/*!40000 ALTER TABLE `contact_messages` DISABLE KEYS */;
/*!40000 ALTER TABLE `contact_messages` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `document_requests`
--

DROP TABLE IF EXISTS `document_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `document_requests` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `fullname` varchar(255) NOT NULL,
  `documentType` varchar(100) NOT NULL,
  `pdf_name` varchar(255) DEFAULT NULL,
  `dateRequested` date NOT NULL,
  `status` enum('Pending','Processing','Ready to Pick Up') DEFAULT 'Pending',
  `file` varchar(255) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `document_requests`
--

LOCK TABLES `document_requests` WRITE;
/*!40000 ALTER TABLE `document_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `document_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `duty_schedules`
--

DROP TABLE IF EXISTS `duty_schedules`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `duty_schedules` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `worker_id` int(11) NOT NULL,
  `schedule_type` enum('Weekly','Monthly','One-time') DEFAULT 'Weekly',
  `day_of_week` enum('Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday') DEFAULT NULL,
  `date_specific` date DEFAULT NULL,
  `start_time` time NOT NULL,
  `end_time` time NOT NULL,
  `duty_type` enum('Office Duty','Patrol','Health Services','Event Assignment','Other') NOT NULL,
  `notes` text DEFAULT NULL,
  `status` enum('Active','Completed','Cancelled') DEFAULT 'Active',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `created_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `created_by` (`created_by`),
  KEY `idx_worker_id` (`worker_id`),
  KEY `idx_schedule_type` (`schedule_type`),
  KEY `idx_date_specific` (`date_specific`),
  KEY `idx_status` (`status`),
  CONSTRAINT `duty_schedules_ibfk_1` FOREIGN KEY (`worker_id`) REFERENCES `barangay_workers` (`id`) ON DELETE CASCADE,
  CONSTRAINT `duty_schedules_ibfk_2` FOREIGN KEY (`created_by`) REFERENCES `admins` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `duty_schedules`
--

LOCK TABLES `duty_schedules` WRITE;
/*!40000 ALTER TABLE `duty_schedules` DISABLE KEYS */;
/*!40000 ALTER TABLE `duty_schedules` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `family_members`
--

DROP TABLE IF EXISTS `family_members`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `family_members` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `resident_id` int(11) NOT NULL,
  `first_name` varchar(100) NOT NULL,
  `middle_name` varchar(100) DEFAULT NULL,
  `last_name` varchar(100) NOT NULL,
  `gender` enum('Male','Female','Other') NOT NULL,
  `date_of_birth` date NOT NULL,
  `place_of_birth` varchar(255) DEFAULT NULL,
  `civil_status` enum('Single','Married','Widowed','Divorced','Separated') DEFAULT NULL,
  `voter` enum('Yes','No') DEFAULT NULL,
  `pwd` enum('Yes','No') DEFAULT NULL,
  `solo_parent` enum('Yes','No') DEFAULT NULL,
  `relationship` enum('Mother','Father','Grandmother','Grandfather','Sister','Brother') NOT NULL,
  `contact_number` varchar(20) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `resident_id` (`resident_id`),
  CONSTRAINT `family_members_ibfk_1` FOREIGN KEY (`resident_id`) REFERENCES `residents` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `family_members`
--

LOCK TABLES `family_members` WRITE;
/*!40000 ALTER TABLE `family_members` DISABLE KEYS */;
/*!40000 ALTER TABLE `family_members` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `notifications` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `user_type` enum('resident','admin','worker') NOT NULL,
  `user_id` int(11) NOT NULL,
  `type` varchar(100) NOT NULL,
  `title` varchar(255) NOT NULL,
  `message` text NOT NULL,
  `data` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`data`)),
  `is_read` tinyint(1) DEFAULT 0,
  `read_at` datetime DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_user` (`user_type`,`user_id`),
  KEY `idx_is_read` (`is_read`),
  KEY `idx_created_at` (`created_at`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `residents`
--

DROP TABLE IF EXISTS `residents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `residents` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `photo` varchar(255) DEFAULT NULL,
  `voter` enum('Yes','No') DEFAULT NULL,
  `voter_in_barangay` enum('Yes','No') DEFAULT NULL,
  `precinct_number` varchar(50) DEFAULT NULL,
  `gender` enum('Female','Male','Other') DEFAULT NULL,
  `date_of_birth` date DEFAULT NULL,
  `place_of_birth` varchar(150) DEFAULT NULL,
  `pwd` enum('Yes','No') DEFAULT NULL,
  `solo_parent` enum('Yes','No') DEFAULT NULL,
  `4ps_beneficiary` enum('Yes','No') DEFAULT NULL,
  `social_pension_beneficiary` enum('Yes','No') DEFAULT NULL,
  `sss_pensioner` enum('Yes','No') DEFAULT NULL,
  `gsis_pensioner` enum('Yes','No') DEFAULT NULL,
  `philhealth_member` enum('Yes','No') DEFAULT NULL,
  `other_cash_assistance` enum('Yes','No') DEFAULT NULL,
  `senior_citizen` enum('Yes','No') DEFAULT NULL,
  `youth_member` enum('Yes','No') DEFAULT NULL,
  `ip_member` enum('Yes','No') DEFAULT NULL,
  `ofw_household_member` enum('Yes','No') DEFAULT NULL,
  `pregnant_woman` enum('Yes','No') DEFAULT NULL,
  `lactating_mother` enum('Yes','No') DEFAULT NULL,
  `chronic_illness` enum('Yes','No') DEFAULT NULL,
  `disability_type` varchar(150) DEFAULT NULL,
  `pregnant` enum('Yes','No') DEFAULT NULL,
  `immunization_updated` enum('Yes','No') DEFAULT NULL,
  `emergency_risk_level` enum('Low','Medium','High') DEFAULT NULL,
  `emergency_contact_person` varchar(150) DEFAULT NULL,
  `emergency_relationship` varchar(50) DEFAULT NULL,
  `emergency_contact_number` varchar(50) DEFAULT NULL,
  `4ps_child_beneficiary` enum('Yes','No') DEFAULT NULL,
  `disaster_vulnerable` enum('Yes','No') DEFAULT NULL,
  `evacuation_assistance` enum('Yes','No') DEFAULT NULL,
  `livelihood_assistance` enum('Yes','No') DEFAULT NULL,
  `farmer_fisherfolk` enum('Yes','No') DEFAULT NULL,
  `household_head` enum('Yes','No') DEFAULT 'No',
  `household_number` varchar(50) DEFAULT NULL,
  `category` varchar(100) DEFAULT NULL,
  `first_name` varchar(80) NOT NULL,
  `middle_name` varchar(80) DEFAULT NULL,
  `last_name` varchar(80) NOT NULL,
  `suffix` varchar(20) DEFAULT NULL,
  `civil_status` enum('Single','Married','Widowed','Separated') DEFAULT NULL,
  `religion` varchar(80) DEFAULT NULL,
  `nationality` varchar(80) DEFAULT NULL,
  `home_number` varchar(50) DEFAULT NULL,
  `street` varchar(150) DEFAULT NULL,
  `barangay` varchar(150) DEFAULT NULL,
  `municipality` varchar(150) DEFAULT NULL,
  `city_province` varchar(150) DEFAULT NULL,
  `years_of_residency` int(11) DEFAULT NULL,
  `resident_type` enum('Permanent','Transient') DEFAULT NULL,
  `resident_since_birth` enum('Yes','No') DEFAULT NULL,
  `contact_number` varchar(50) DEFAULT NULL,
  `currently_studying` enum('Yes','No') DEFAULT NULL,
  `grade_year_level` varchar(100) DEFAULT NULL,
  `highest_education` enum('Elementary','High School','Senior High School','Vocational','College','Graduate School','No Formal Education') DEFAULT NULL,
  `school_name` varchar(200) DEFAULT NULL,
  `occupation` varchar(150) DEFAULT NULL,
  `source_of_income` enum('Employed','Self-Employed','Unemployed','Student','Pensioner','OFW','Dependent / No Income') DEFAULT NULL,
  `work_department` varchar(150) DEFAULT NULL,
  `company_employer` varchar(200) DEFAULT NULL,
  `type_of_work` enum('Private','Government','Overseas') DEFAULT NULL,
  `monthly_income_range` varchar(50) DEFAULT NULL,
  `business_type` varchar(150) DEFAULT NULL,
  `business_name` varchar(200) DEFAULT NULL,
  `business_income_range` varchar(50) DEFAULT NULL,
  `student_school_name` varchar(200) DEFAULT NULL,
  `student_grade_level` varchar(100) DEFAULT NULL,
  `student_supported_by` enum('Parents','Scholarship','Self') DEFAULT NULL,
  `pension_type` enum('SSS','GSIS','Private') DEFAULT NULL,
  `monthly_pension` decimal(10,2) DEFAULT NULL,
  `ofw_country` varchar(100) DEFAULT NULL,
  `ofw_job_position` varchar(150) DEFAULT NULL,
  `ofw_agency` varchar(200) DEFAULT NULL,
  `father_name` varchar(150) DEFAULT NULL,
  `mother_name` varchar(150) DEFAULT NULL,
  `guardian_name` varchar(150) DEFAULT NULL,
  `guardian_contact` varchar(50) DEFAULT NULL,
  `email` varchar(150) NOT NULL,
  `password` varchar(255) NOT NULL,
  `confirm_password` varchar(255) NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `account_status` enum('Active','Deactivated','Pending Verification') DEFAULT 'Pending Verification',
  `verified_by_admin` enum('Yes','No') DEFAULT 'No',
  `verified_at` datetime DEFAULT NULL,
  `verified_by` int(11) DEFAULT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  `last_login` timestamp NULL DEFAULT NULL,
  `deleted_at` datetime DEFAULT NULL,
  `deleted_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_household_number` (`household_number`),
  KEY `idx_category` (`category`),
  KEY `idx_account_status` (`account_status`),
  KEY `idx_deleted_at` (`deleted_at`),
  KEY `idx_last_login` (`last_login`),
  KEY `idx_source_of_income` (`source_of_income`),
  KEY `idx_voter_in_barangay` (`voter_in_barangay`),
  KEY `idx_senior_citizen` (`senior_citizen`),
  KEY `idx_youth_member` (`youth_member`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `residents`
--

LOCK TABLES `residents` WRITE;
/*!40000 ALTER TABLE `residents` DISABLE KEYS */;
/*!40000 ALTER TABLE `residents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `residents_archive`
--

DROP TABLE IF EXISTS `residents_archive`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `residents_archive` (
  `archive_id` int(11) NOT NULL AUTO_INCREMENT,
  `original_id` int(11) NOT NULL,
  `photo` varchar(255) DEFAULT NULL,
  `voter` enum('Yes','No') DEFAULT NULL,
  `gender` enum('Female','Male','Other') DEFAULT NULL,
  `date_of_birth` date DEFAULT NULL,
  `place_of_birth` varchar(150) DEFAULT NULL,
  `pwd` enum('Yes','No') DEFAULT NULL,
  `solo_parent` enum('Yes','No') DEFAULT NULL,
  `household_head` enum('Yes','No') DEFAULT NULL,
  `household_number` varchar(50) DEFAULT NULL,
  `category` varchar(100) DEFAULT NULL,
  `first_name` varchar(80) NOT NULL,
  `middle_name` varchar(80) DEFAULT NULL,
  `last_name` varchar(80) NOT NULL,
  `suffix` varchar(20) DEFAULT NULL,
  `civil_status` enum('Single','Married','Widowed','Separated') DEFAULT NULL,
  `religion` varchar(80) DEFAULT NULL,
  `nationality` varchar(80) DEFAULT NULL,
  `home_number` varchar(50) DEFAULT NULL,
  `street` varchar(150) DEFAULT NULL,
  `barangay` varchar(150) DEFAULT NULL,
  `municipality` varchar(150) DEFAULT NULL,
  `city_province` varchar(150) DEFAULT NULL,
  `contact_number` varchar(50) DEFAULT NULL,
  `occupation` varchar(150) DEFAULT NULL,
  `father_name` varchar(150) DEFAULT NULL,
  `mother_name` varchar(150) DEFAULT NULL,
  `guardian_name` varchar(150) DEFAULT NULL,
  `guardian_contact` varchar(50) DEFAULT NULL,
  `email` varchar(150) NOT NULL,
  `password` varchar(255) NOT NULL,
  `confirm_password` varchar(255) NOT NULL,
  `account_status` enum('Active','Deactivated','Pending Verification') DEFAULT NULL,
  `verified_by_admin` enum('Yes','No') DEFAULT NULL,
  `verified_at` datetime DEFAULT NULL,
  `verified_by` int(11) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  `deleted_at` datetime DEFAULT NULL,
  `deleted_by` int(11) DEFAULT NULL,
  `archived_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `archived_by` int(11) DEFAULT NULL,
  `restored_at` datetime DEFAULT NULL,
  `restored_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`archive_id`),
  KEY `idx_original_id` (`original_id`),
  KEY `idx_email` (`email`),
  KEY `idx_archived_at` (`archived_at`),
  KEY `idx_restored_at` (`restored_at`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `residents_archive`
--

LOCK TABLES `residents_archive` WRITE;
/*!40000 ALTER TABLE `residents_archive` DISABLE KEYS */;
/*!40000 ALTER TABLE `residents_archive` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `staff_tasks`
--

DROP TABLE IF EXISTS `staff_tasks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `staff_tasks` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `worker_id` int(11) NOT NULL,
  `title` varchar(255) NOT NULL,
  `description` text DEFAULT NULL,
  `status` enum('Pending','In Progress','Completed','Cancelled') DEFAULT 'Pending',
  `priority` enum('Low','Medium','High','Urgent') DEFAULT 'Medium',
  `deadline` date DEFAULT NULL,
  `completed_at` timestamp NULL DEFAULT NULL,
  `assigned_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `assigned_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `assigned_by` (`assigned_by`),
  KEY `idx_worker_id` (`worker_id`),
  KEY `idx_status` (`status`),
  KEY `idx_priority` (`priority`),
  KEY `idx_deadline` (`deadline`),
  CONSTRAINT `staff_tasks_ibfk_1` FOREIGN KEY (`worker_id`) REFERENCES `barangay_workers` (`id`) ON DELETE CASCADE,
  CONSTRAINT `staff_tasks_ibfk_2` FOREIGN KEY (`assigned_by`) REFERENCES `admins` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `staff_tasks`
--

LOCK TABLES `staff_tasks` WRITE;
/*!40000 ALTER TABLE `staff_tasks` DISABLE KEYS */;
INSERT INTO `staff_tasks` VALUES (2,3,'COMPLAINTS','dapat ok na ha','Pending','Medium','2025-12-02',NULL,'2025-12-02 14:15:31',2);
/*!40000 ALTER TABLE `staff_tasks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `walk_in_requests`
--

DROP TABLE IF EXISTS `walk_in_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `walk_in_requests` (
  `request_id` int(11) NOT NULL AUTO_INCREMENT,
  `request_number` varchar(50) NOT NULL,
  `resident_id` int(11) DEFAULT NULL,
  `resident_name` varchar(255) NOT NULL,
  `resident_email` varchar(255) DEFAULT NULL,
  `resident_contact` varchar(50) DEFAULT NULL,
  `category` varchar(100) NOT NULL,
  `type` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  `attachment_url` varchar(500) DEFAULT NULL,
  `status` enum('Pending','Under Review','Completed','Rejected') DEFAULT 'Pending',
  `admin_notes` text DEFAULT NULL,
  `admin_attachment_url` varchar(500) DEFAULT NULL,
  `appointment_date` date DEFAULT NULL,
  `appointment_time` time DEFAULT NULL,
  `processed_by` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`request_id`),
  UNIQUE KEY `request_number` (`request_number`),
  KEY `resident_id` (`resident_id`),
  KEY `processed_by` (`processed_by`),
  KEY `idx_status` (`status`),
  KEY `idx_request_number` (`request_number`),
  KEY `idx_created_at` (`created_at`),
  CONSTRAINT `walk_in_requests_ibfk_1` FOREIGN KEY (`resident_id`) REFERENCES `residents` (`id`) ON DELETE SET NULL,
  CONSTRAINT `walk_in_requests_ibfk_2` FOREIGN KEY (`processed_by`) REFERENCES `admins` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `walk_in_requests`
--

LOCK TABLES `walk_in_requests` WRITE;
/*!40000 ALTER TABLE `walk_in_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `walk_in_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `walk_in_requests_archive`
--

DROP TABLE IF EXISTS `walk_in_requests_archive`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `walk_in_requests_archive` (
  `archive_id` int(11) NOT NULL AUTO_INCREMENT,
  `original_request_id` int(11) NOT NULL,
  `request_number` varchar(50) NOT NULL,
  `resident_id` int(11) DEFAULT NULL,
  `resident_name` varchar(255) NOT NULL,
  `resident_email` varchar(255) DEFAULT NULL,
  `resident_contact` varchar(50) DEFAULT NULL,
  `category` varchar(100) NOT NULL,
  `type` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  `attachment_url` varchar(500) DEFAULT NULL,
  `status` enum('Pending','Under Review','Completed','Rejected') DEFAULT 'Pending',
  `admin_notes` text DEFAULT NULL,
  `admin_attachment_url` varchar(500) DEFAULT NULL,
  `appointment_date` date DEFAULT NULL,
  `appointment_time` time DEFAULT NULL,
  `processed_by` int(11) DEFAULT NULL,
  `created_at` datetime DEFAULT NULL,
  `updated_at` datetime DEFAULT NULL,
  `archived_at` datetime DEFAULT current_timestamp(),
  `archived_by` int(11) DEFAULT NULL,
  `restored_at` datetime DEFAULT NULL,
  `restored_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`archive_id`),
  KEY `idx_original_request_id` (`original_request_id`),
  KEY `idx_request_number` (`request_number`),
  KEY `idx_status` (`status`),
  KEY `idx_archived_at` (`archived_at`),
  KEY `idx_restored_at` (`restored_at`),
  KEY `idx_resident_id` (`resident_id`),
  KEY `idx_archived_by` (`archived_by`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `walk_in_requests_archive`
--

LOCK TABLES `walk_in_requests_archive` WRITE;
/*!40000 ALTER TABLE `walk_in_requests_archive` DISABLE KEYS */;
/*!40000 ALTER TABLE `walk_in_requests_archive` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `worker_responsibilities`
--

DROP TABLE IF EXISTS `worker_responsibilities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `worker_responsibilities` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `worker_id` int(11) NOT NULL,
  `responsibility_type` enum('Document Processing','Resident Verification','Complaints Handling','Financial Tasks','Patrol Duties','Health Services','Other') NOT NULL,
  `description` text DEFAULT NULL,
  `status` enum('Active','Inactive') DEFAULT 'Active',
  `assigned_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `assigned_by` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `assigned_by` (`assigned_by`),
  KEY `idx_worker_id` (`worker_id`),
  KEY `idx_responsibility_type` (`responsibility_type`),
  KEY `idx_status` (`status`),
  CONSTRAINT `worker_responsibilities_ibfk_1` FOREIGN KEY (`worker_id`) REFERENCES `barangay_workers` (`id`) ON DELETE CASCADE,
  CONSTRAINT `worker_responsibilities_ibfk_2` FOREIGN KEY (`assigned_by`) REFERENCES `admins` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `worker_responsibilities`
--

LOCK TABLES `worker_responsibilities` WRITE;
/*!40000 ALTER TABLE `worker_responsibilities` DISABLE KEYS */;
INSERT INTO `worker_responsibilities` VALUES (2,3,'Complaints Handling','ayusin mo beh','Active','2025-12-02 14:14:48',2);
/*!40000 ALTER TABLE `worker_responsibilities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'barangay_db'
--

--
-- Dumping routines for database 'barangay_db'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-07  8:04:55
